[submodule "ghostty"]
	path = ghostty
	url = https://github.com/crowforkotlin/crowforkotlin.config.ghostty.git
[submodule "matugen"]
	path = matugen
	url = https://github.com/crowforkotlin/crowforkotlin.config.matugen
[submodule "niri"]
	path = niri
	url = https://github.com/crowforkotlin/crowforkotlin.config.niri.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/crowforkotlin/crowforkotlin.config.nvim
[submodule "tmux"]
	path = tmux
	url = https://github.com/crowforkotlin/crowforkotlin.config.tmux.git
[submodule "fcitx5"]
	path = fcitx5
	url = https://github.com/crowforkotlin/crowforkotlin.config.fcitx5
[submodule "DankMaterialShell"]
	path = DankMaterialShell
	url = https://github.com/crowforkotlin/crowforkotlin.config.dms
[submodule "satty"]
	path = satty
	url = https://github.com/crowforkotlin/crowforkotlin.config.satty
